@model IEnumerable<TelephoneDirectoryApp.Models.Report>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneratedReports</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <div class="container">
        <h2>Generated Reports</h2>
        <hr />
        <main role="main" class="pb-3">
            <table class="table">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.UUID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.createdAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UUID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.createdAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                @Html.ActionLink("Download", "Edit", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </main>
    </div>
</body>
</html>
